* {
  box-sizing: border-box;
  max-width: 700px;
  margin:0 auto;
  
}
h1{
  border: 2px solid saddlebrown;
  margin: 10px;
  padding: 10px;
  display: inline-block;

  
}

.header {
 
  border: 2px solid blue;
  padding: 5px;
  margin: 1px 10px;
  display: inline-block;

}

.description {
  border: 1px solid rosybrown;
  margin: 10px ;
  padding: 10px;
}

h2 {
  padding :10px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}
div { 
  display: inline-block;
}

.menu-body {
  border: 2px solid black; 
  text-align: center;
  margin: 10px solid white;
  width: auto;
}

.menu {
  margin: 10px ;
  border: 2px solid blueviolet;
  

}

.ingredients , 
.steps {
  padding: 10px;
  margin: 10px;
  border: 2px solid steelblue;
}


button {
  margin: 20px;
  padding: 5px 8px;
}



body {
  border: 1px solid red;
  padding: 10px;

}

p {
  margin: 10px;
}
  













